- Relational operators(>, <, >=, <=, ==, !=)

In [ ]:
2 > 3
2 < 3
2 >= 3
2 <= 3
2 == 2
3 != 5

- Membership Operators(in, not in)

In [ ]:
s = "asgfhjbtjjjxsdfhgj"
"m" in s
"f" in s
"m" not in s

In [ ]:
numbers = [100, 200, 300, 400, 500]
400 in numbers
500 not in numbers

- Identity operators(is, is not)

In [ ]:
"python " is "python"
2 is not 5

### Functions
- Inbuilt functions
- Userdefined functions

In [ ]:
a = int(input('Enter any value b/w 1 and 100: '))
a

In [ ]:
avg = float(input('Enter average of a student : '))
avg

###### user defined function syntax
def functionName(arguments):
    statement1
    statement2
    statement3
functionName(arguments)

In [ ]:
def displayMessage(message):
    return message
displayMessage("Good Morning..!")

In [ ]:
# define a function which returns sum of two values 
## by taking from user
def sumTwo(x, y):
    return x + y
a = int(input('Enter a value: '))
b = int(input('Enter b value: '))
sumTwo(a, b)

In [ ]:
# Example function for default arguments
def details(college = "Mother Teressa", place = " palamaner"):
    return "Python workshop at "+college+place
details()

In [ ]:
# Example function for keyword arguments
def parrot(color, action):
    return "Parrot is of "+color+" color and it can "+action
parrot(action = "fly", color = "green")

In [ ]:
# Example function for arbitary arguments
def players(*names):
    return names
players("kohli", "rohit", "dhawan", "dhoni")

### Conditions

In [ ]:
if (condition):
    
    statments
else:
    statments

In [ ]:
num=int(input("enter the number"))
if (num%2==0):
    print(num,"is even")
else:
    print(num,"is odd")

In [8]:
a=int(input('enter a value'))
b=int(input('enter b value'))
c=int(input('enter c value'))

if(a>b) and (a>c):
    print(a,"is largest")
elif(b>c) and (b>a):
    print(b,"is largest")
else:
    print(c,"is largest")

enter a value2
enter b value5
enter c value1
5 is largest

In [ ]:
username=input("enter the username: ")
pwd=input("enter the password")

if username=="Srinivas":
    if pwd=="123456":
        print("welcome to ",username)
    else:
        print("invalied password")
elif username=="cse":
    if pwd=="12345":
        print("welcome to ",username)
    else:
        print("invalied password")
else:
    print("invalied username")

In [ ]:
a=int(input("enter the A value"))
b=int(input("enter the B value"))
c=int(input("enter the C value"))
if((a!=b)and(b!=c)and(c!=a)):
    print(a+b+c)
elif(a==b)and(a!=c):
    print(c)
elif(b==c) and(b!=a):
    print(a)
elif(a==c) and(a!=b):
    print(b)
elif(a==b)and(b==c):
    print("zero")

In [ ]:
a=int(input("enter the A value"))
b=int(input("enter the B value"))


c=int(input("enter your option"))

### ITERATIONS

- for
- while

In [ ]:
for i in interator:
    
    statments

In [ ]:
a="srinivas reddy"
for i in a:
    print(i,end="")

In [ ]:
c=1
while (c<=10):
    print(c,end=" ")
    c=c+1

In [ ]:
j=0
for i in range(11):
    j=j+i
print(j)

In [2]:
a=1
sum=0
while a<=10:
    sum=sum+a
    a+=1
print(sum)

55

In [3]:
a=[12,21,45]
sum(a)

TypeError: 'int' object is not callable

In [4]:
for num in range(1,11,2):
    print(num,end=" ")

1 3 5 7 9

In [12]:
a=int(input("enter a number"))
for num in range(1,a+1):
    print(" ")
    print(num,"st table")
    print("-------------")
    for i in range(1,11):
        print(num,"x",i,"=",num*i)

enter a number3

1 st table
-------------
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 st table
-------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 st table
-------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [14]:
words=["if","elif","else"]
a=input("enter a keyword")
if a in words:
    print("exits in list")
else:
    print("not exits in list")

enter a keywordif
exits in list

In [17]:
s=int(input("enter the number"))

enter the number8

In [19]:
while(True):
    a=int(input("enter the value: "))
    print(a)
    if(a==8):
        break

enter the value: 9
9
enter the value: 4
4
enter the value: 5
5
enter the value: 1
1
enter the value: 8
8

# Strings

In [22]:
s='mother teresa college'
s

'mother teresa college'

In [23]:
print(s)

mother teresa college

In [24]:
s1="""good afternoon 
all
welcome
to
all
"""

In [26]:
print(s1)

good afternoon
all
welcome
to
all

In [27]:
s

'mother teresa college'

In [ ]:
+,*

In [29]:
s+" cse students"

'mother teresa college cse students'

In [30]:
s*5

'mother teresa collegemother teresa collegemother teresa collegemother teresa collegemother teresa college'

In [ ]:
0 to length of string
-1 to length of string

In [31]:
s

'mother teresa college'

In [44]:
s[5]
s[6]
s[-6]
s[-10]
s[14:21]
s[7:13]
s[:6]

'mother'

In [45]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [49]:
s=s.upper()

In [50]:
s

'MOTHER TERESA COLLEGE'

In [52]:
s=s.lower()

In [54]:
s.capitalize()

'Mother teresa college'

In [55]:
s.title()

'Mother Teresa College'

In [57]:
s.count("e")

5

In [59]:
s.index("e")

4

In [60]:
s.strip()

'mother teresa college'

In [62]:
s1=" cse students "

In [66]:
s1.lstrip()

'cse students '

In [68]:
s=s.split()

In [69]:
s[2]

'college'

In [71]:
s[1]

'teresa'

In [72]:
s

['mother', 'teresa', 'college']

In [73]:
s1

' cse students '

In [75]:
s1.center(10)

' cse students '

In [77]:
s1.center(50,"@")

'@@@@@@@@@@@@@@@@@@ cse students @@@@@@@@@@@@@@@@@@'

In [79]:
s1.replace("s","$")

' c$e $tudent$ '

In [83]:
s2="hii {} my name is {} {}"
s2.format("all","srinivas",25)

'hii all my name is srinivas 25'

In [87]:
s3="152"
s3.isdigit()

True

In [88]:
s1

' cse students '

In [89]:
s1.isupper()

False

In [91]:
s2="CSE"
s2.isupper()

True

In [92]:
s=" Cse StudentS "

In [93]:
s.swapcase()

' cSE sTUDENTs '

In [96]:
s=s.encode()
type(s)

bytes

In [99]:
s[::-1]

b' StnedutS esC '

task1
-------
data="""
fgvlhj nkg kjg knjg n,bgihM KJGNLJH
JGDKTHGC GHF
JGYUFH V
KHGTFV53
569
jhgfijhy
6578+96GJFUJ

"""
1.LOWER CASE LETTERS
2.UPPER CASE LETTERS
3.FIND THE DIGITS
4.TOTAL LENGTH

TASK2
-----------
i/p: C S E S T U D E N T S

O/P: csestudentS

task3
----------
i/p: cse students

start=int(input("enter the start number"))#1
end=int(input("enter the end number"))#5

o/p: ts esc udents

In [ ]:
lists : orderded and mutable and allow the duplicates
tuples : orderded and unmutable and allow the duplicates
sets : unordered and unindexed and no duplicates
dictionaries :
    unordered and indexed and no duplicates

In [31]:
#define a tuple
tup = ()
tup

()

In [26]:
tuple1 =(1,2,3,"apssdc","pyhton",5.6)
print(type(tuple))
tuple1

<class 'tuple'>

(1, 2, 3, 'apssdc', 'pyhton', 5.6)

In [28]:
#how to access a tuple

In [11]:
#change the item value?
li = [56,78,89]
li[1]=90
li

[56, 90, 89]

In [1]:
#conversion of tuple to list
tup= (23,56,78,90)
li = list(tup)
li[3]=100
tup=tuple(li)
tup

(23, 56, 78, 100)

In [4]:
#accessing a tuple
tu = [23,56,78,"hello",90]
tu[3]

'hello'

In [5]:
#negative index
tu[-1]

90

In [6]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [7]:
#how get index of variable
tu= (67,89,90)
tu.index(89)

1

In [9]:
tu = (89,89,56,"a","h","56",75,75)
tu.count(56)

1

In [13]:
#set()
set1 ={1,2,3,4,5,5,89,89,90,1}
set1

{1, 2, 3, 4, 5, 89, 90}

In [14]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [19]:
#how to add elements to set
set1 = {45,67,89,90}
set1.add(100)
set1

{45, 67, 89, 90, 100}

In [23]:
# loop a set elements
#adding elements one set to another
set3 = {1,3,4,56,78,"abc"}
set4 = {23,90,34}
for i in set3:
    set4.add(i)
print(set4)

{1, 34, 3, 4, 78, 23, 56, 'abc', 90}

In [24]:
#length of set
len(set4)

9

In [30]:
#adding two sets using union() function
set1 = {"hi","chitoor","hello",78}
set2 = {23,56,78,90}
set3= set2.union(set1)
set4= set2.intersection(set1)
print(set3)
set4

{'hi', 78, 'chitoor', 23, 56, 'hello', 90}

{78}

In [37]:
#subset() and superset()
set1 = {34,67,1,2,3,5}
set2 = {1,54,90,45,23}
set3 = set1.issubset(set2)
set3

True

In [38]:
set4 =set1.issuperset(set2)
set4

True

In [41]:
#Dictionaries:
student = {"name":"abc","rollnumber":503,"branch":"cse"}
student["rollnumber"]

503

In [42]:
#accessing a value in dictionary
student["name"]

'abc'

In [44]:
#add a value to dictinary
student[1]="hello"
student

{'name': 'abc', 'rollnumber': 503, 'branch': 'cse', 1: 'hello'}

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [59]:
#loop a elements in a dictonary
d1 = {"ap":"vijaywada","TN":"Telangana","population":15000}
for key in d1.keys():
    print(key)

ap
TN
population

In [60]:
for value in d1.values():
    print(value)

vijaywada
Telangana
15000

In [54]:
for key,value in d1.items():
    print(key,value)

ap vijaywada
TN Telangana
population 15000

In [61]:
#length of dictionary
len(d1)

3

In [ ]:
# to find palindrome stings in given list of strings
list = ["abc","hello","madam","xyx","lol"]
palindormelist=[]
nonpalindromelist=[]
#using string slicing

#### Convert the given list to dictionary as given below
###### input - [2,4,6,8,10]
###### output - {2 : 4, 4 : 16, 6 : 36, 8 : 64, 10 : 100}